<h2 align="center" style="margin-top: -150px;"> projects </h2>

<div class="colfull">
    <p align="text-center">
        <i align="left">A few selected software, ML, and experimentation projects.</i>
    </p>
</div>

<div class="coll4">
    <h3 align="center">software + devtools</h3>
    <ul class="list-items">
        <li><a href="https://github.com/sohailmahmud/veridical-flow" style="font-size:medium"> veridicalflow </a></li>
        <li><a href="https://github.com/sohailmahmud/imodels" style="font-size:medium"> imodels </a></li>
        <li><a href="https://github.com/sohailmahmud/lunchwheel" style="font-size:medium"> lunch wheel </a></li>
    </ul>
</div>

<div class="coll4">
    <h3 align="center">ml + data</h3>
    <ul class="list-items">
        <li><a href="https://github.com/sohailmahmud/gpt2-paper-title-generator" style="font-size:medium"> gpt2 paper title generator </a> (<a href="https://sohailmahmud.github.io/gpt2-paper-title-generator/index.html"><i class="fa">🌐</i></a>)</li>
        <li><a href="https://github.com/sohailmahmud/pytorch_gan_pretrained/" style="font-size:medium"> pretrained pytorch gans </a></li>
        <li><a href="https://sohails.tech/data-viz-utils/" style="font-size:medium"> data-viz utils </a></li>
    </ul>
</div>

<div class="coll4">
    <h3 align="center">experiments</h3>
    <ul class="list-items">
        <li><a href="https://github.com/sohailmahmud/scattering_transform_experiments" style="font-size:medium"> scattering transform experiments </a></li>
        <li><a href="https://github.com/sohailmahmud/threshold_simulations/" style="font-size:medium"> biophysical simulations </a></li>
        <li><a href="https://github.com/sohailmahmud/news-balancer" style="font-size:medium"> news balancer web </a></li>
    </ul>
</div>

<div class="coll4">
    <h3 align="center">web + misc</h3>
    <ul class="list-items">
        <li><a href="https://github.com/sohailmahmud/acronym-generator" style="font-size:medium"> acronym generator </a> (<a href="https://sohails.tech/acronym-generator/"><i class="fa">🌐</i></a>)</li>
        <li><a href="https://github.com/sohailmahmud/mini-games-java" style="font-size:medium"> mini-games in java </a></li>
        <li><a href="http://sohails.tech/news-title-bias/app/" style="font-size:medium"> news bias comparisons </a></li>
    </ul>
</div>

<br/>
