<h2 style="text-align: center;margin-top: -150px;"> experience </h2>

<ul class="timeline">

    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/proh.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Apr '22 - Present</h4>
                <h4 class="subheading">prohealth <a
                        href="https://www.prohealth.app/">(software engineer)</a></h4>
            </div>
            <div class="timeline-body">
                <p>research & development in decentralized healthcare</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cimbuk.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Jan '22 - Present</h4>
                <h4 class="subheading">cimbuk labs </h4>
            </div>
            <div class="timeline-body">
                <p>research and development in deFi</p>
            </div>
        </div>
    </li>

    <!--invert every other item-->
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/extreme.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Nov '20 - Dec '21</h4>
                <h4 class="subheading">extreme solutions <a
                        href="https://www.extreme.com.bd/">(software engineer)</a></h4>
            </div>
            <div class="timeline-body">
                <p>developed ecosystem for digital healthcare</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cynergys.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Jan '19 - Oct '20</h4>
                <h4 class="subheading">cynergy solutions <a
                        href="https://www.cynergysolutions.net/">(full-stack dev)</a></h4>
            </div>
            <div class="timeline-body">
                <p>developed enterprise solutions for business</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/automate.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Jan '18 - Dec '18</h4>
                <h4 class="subheading">automate infosys <a href="https://automateinfosys.com/">(web dev)</a></h4>
            </div>
            <div class="timeline-body">
                <p>developed methods for interpreting educational institute models</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/otsl.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Aug '17 - Dec '17</h4>
                <h4 class="subheading">otsl <a href="http://otsl-ctg.com/"> (sde intern) </a></h4>
            </div>
            <div class="timeline-body">
                <p>Worked on full architecture of the software stack in order to scale future fda</p>
            </div>
        </div>
    </li>



<!--    <li class="timeline-inverted">-->
<!--        <div class="timeline-image">-->
<!--            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/default.jpg" alt="">-->
<!--        </div>-->
<!--    </li>-->
</ul>
<!--<hr>-->
<img src="{{ site.baseurl }}/assets/img/labs.png" class="img-responsive" alt="" style="margin-top:-0px; border-radius: 10%;">
</br>
<div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            I've been lucky to be advised by / collaborate with many amazing people
        </p>
        <ul class="list-items bullets">
            <li><a href="https://www.freecodecamp.org/news/author/quincylarson/">quincy larson</a></li>
            <li><a href="https://www.linkedin.com/in/hasankhan/">hasan khan</a></li>
            <li><a href="https://cse.buet.ac.bd/faculty/facdetail.php?id=kaykobad">m. kaykobad</a></li>
            <li><a href="https://twitter.com/fnthawar/">farhan thawar</a></li>
            <li><a href="https://ukhealthcare.uky.edu/doctors/paul-adams">paul m. adams</a></li>
            <li><a href="https://www.uctc.edu.bd/ell/profile/2003001">ariful hasan</a></li>
        </ul>
    </div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            It has been my pleasure to help advise some incredible undergrads at local / global community -- check them out!
        </p>
        <ul class="list-items bullets">
            <li><a href="https://www.linkedin.com/in/mansoor-ahmed-59033430/">mansoor</a> ('22-now)</li>
            <li><a href="https://www.linkedin.com/in/joshua-kim-b5a8b9b4/">joshua</a> ('21-now)</li>
            <li><a href="https://twitter.com/rifaimartin/">rifai martin</a> ('21-now)</li>
            <li><a href="https://www.linkedin.com/in/sufiah-salim1995">sufiah salim</a> ('21-now)</li>
            <li><a href="https://www.linkedin.com/in/godson-chukwuemeka-b26328162/">godson c.</a> ('20-now)</li>
        </ul>
    </div>
    <div class="coll9">
    </div>
</div>
</br>


